.venv/
.tts/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
*.spec
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
config.toml
.env
.env.*
!.env.example

.idea/
.vscode/

input_texts/*
!input_texts/.gitkeep
!input_texts/exemplo.txt

reference_audio/**
!reference_audio/.gitkeep

internal_files/

output_audio/**
!output_audio/.gitkeep
